<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h4 class="my-0 mr-md-auto font-weight-normal">DocWork</h4>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Новости</a>
            <a class="p-2 text-dark" href="/lk">Личный кабинет</a>
            <a class="p-2 text-dark" href="/registration">Регистрация</a>
            <a class="p-2 text-dark" href="/login">Войти</a>
        </nav>
    </div>
</header>

<main class="container">

    <h1>Панель администратора</h1>
    <br>


    <div class="alert alert-info mt-2">
        <a class="p-2 text-dark" href="/admin">Панель администратора</a>
        <a class="p-2 text-dark" href="/adminUsers">Данные пользователей</a>
        <a class="p-2 text-dark" href="/adminNews">Данные новостей</a>
    </div><br>


    <table class="table">
        <tr>
            <td>Количество зарегестрированных пользователей</td>
            <td th:text="${usersSize}"/>
        </tr>
        <tr>
            <td>Количество размещенных новостей</td>
            <td th:text="${newsSize}"/>
        </tr>
    </table>








</main>


<footer class="my-5 pt-5 text-muted text-center text-small">
    <hr>
    <p>DocWork by Shpagin A.S.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
</body>
</html>