<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DocWork</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="icon" href="https://1.downloader.disk.yandex.ru/preview/dc8ac5c9345ae1d421aa354458f31be6415a4fa687dab585ae39793f43a9b2b5/inf/5ROBTELSzGCVkES0r3nc0gG8pTswXGhXHfV7smltXKtepGqkD-Ki18aHdxTcr_2X5L36ETbpHQAd72Y-r4o3wA%3D%3D?uid=60646558&filename=docimg.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=60646558&tknv=v2&size=1903x937" type="image">
</head>
<body>
<header  th:insert="blocks/header :: header"></header>

<main class="container">

    <h1>Личный кабинет пользователя</h1>
    <br>

    <div class="alert alert-info mt-2">
        <a class="p-2 text-dark" href="/lk">Мои данные</a>
        <a class="p-2 text-dark" href="/sendMessage">Отправить сообщение</a>
        <a class="p-2 text-dark" href="/inbox">Входящие</a>
        <a class="p-2 text-dark" href="/sent">Исходящие</a>
        <a class="p-2 text-dark" href="/addNews">Добавить новость</a>
        <a class="p-2 text-dark" href="/lkUsers">Список пользователей</a>
    </div>
    <br>

    <h3>Входящие сообщения</h3>
    <br>


    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Отправитель</th>
            <th scope="col">Сообщение</th>
            <th scope="col">Вложения</th>
            <th scope="col">Дата</th>

        </tr>
        </thead>
        <tbody th:each="doc : ${resul}">
        <tr>
            <td><a th:href="'/userDetails/' + ${doc.sender}" th:text="${doc.sender}"/></td>
            <td th:text="${doc.content}"/>
            <td><a th:href="${doc.link}" th:text="${doc.link}"/></td>
            <td th:text="${doc.date}"/>
            <td>
                <form action="?bar3" method="post">
                    <button type="submit" name="content" th:value="${doc.content}">Удалить сообщение</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>




</main>


<footer class="my-5 pt-5 text-muted text-center text-small">
    <hr>
    <p>DocWork by Shpagin A.S.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
</body>
</html>