<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h4 class="my-0 mr-md-auto font-weight-normal">DocWork</h4>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Новости</a>
            <a class="p-2 text-dark" href="/lk">Личный кабинет</a>
            <a class="p-2 text-dark" href="/registration">Регистрация</a>
            <a class="p-2 text-dark" href="/login">Войти</a>
        </nav>
    </div>
</header>

<main class="container">

    <div class="form-signin">
        <form name="f" th:action="@{/perform-login}" method="post">
            <fieldset>
                <legend>Войдите</legend>
                <div th:if="${param.error}" class="alert alert-error">
                    Неправильные имя и пароль.
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out.
                </div>
                <label for="user">Имя</label>
                <input type="text" id="user" name="user"/>
                <label for="pass">Пароль</label>
                <input type="password" id="pass" name="pass"/>
                <div class="form-actions">
                    <button type="submit" >Войти</button>
                </div>
            </fieldset>
        </form>
    </div>


</main>


<footer class="my-5 pt-5 text-muted text-center text-small">
    <hr>
    <p>DocWork by Shpagin A.S.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
</body>
</html>