<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DocWork</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="icon" href="https://1.downloader.disk.yandex.ru/preview/dc8ac5c9345ae1d421aa354458f31be6415a4fa687dab585ae39793f43a9b2b5/inf/5ROBTELSzGCVkES0r3nc0gG8pTswXGhXHfV7smltXKtepGqkD-Ki18aHdxTcr_2X5L36ETbpHQAd72Y-r4o3wA%3D%3D?uid=60646558&filename=docimg.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=60646558&tknv=v2&size=1903x937" type="image">
</head>
<body>
<header  th:insert="blocks/header :: header"></header>

<main class="container">

    <div class="row">

        <div class="col m-2">
            <div class="form-signin">
                <form name="f" th:action="@{/perform-login}" method="post">
                    <fieldset>
                        <legend>Войдите</legend>
                        <div th:if="${param.error}" class="alert alert-error">
                            Неправильное имя или пароль.
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success">
                            You have been logged out.
                        </div>
                        <label for="user">Имя</label>
                        <input type="text" id="user" name="user"/>
                        <label for="pass">Пароль</label>
                        <input type="password" id="pass" name="pass"/><br>
                        <div class="form-actions">
                            <button type="submit" >Войти</button>
                            <a class="p-2 text-dark" href="/registrationExample">Регистрация</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>


        <div class="alert alert-info m-2 col border-dark p-2">
            <h4 class="text-center">Добро пожаловать в ознакомительную версию приложения DocWork!</h4>
            <br>
            <p>Приложение представляет из себя простую версию документооборота, предоставляющую возможность
                обмениваться сообщениями, создавать поручения, служебные записки и т.п. При разработке использовались следующие технологии:</p>
            <p>- Java 8;</p>
            <p>- Spring Boot;</p>
            <p>- Spring Security;</p>
            <p>- PostgreSQL;</p>
            <p>- Thymeleaf;</p>
            <p>- AmazonAWS API;</p>
            <p>- JSoup.</p>
            <br>
            <h5>Полное описание возможностей приложения доступно по ссылке:</h5>
            <a class="p-2 text-dark" href="/info">Информация о приложении</a>
        </div>


    </div>







</main>


<footer class="my-5 pt-5 text-muted text-center text-small">
    <hr>
    <p>DocWork by Shpagin A.S.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
</body>
</html>