<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DocWork</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="icon" href="https://1.downloader.disk.yandex.ru/preview/dc8ac5c9345ae1d421aa354458f31be6415a4fa687dab585ae39793f43a9b2b5/inf/5ROBTELSzGCVkES0r3nc0gG8pTswXGhXHfV7smltXKtepGqkD-Ki18aHdxTcr_2X5L36ETbpHQAd72Y-r4o3wA%3D%3D?uid=60646558&filename=docimg.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=60646558&tknv=v2&size=1903x937" type="image">
</head>
<body>
<header  th:insert="blocks/header :: header"></header>

<main class="container-fluid">
    <div class="row">
            <div class="col">
                <div class="alert-info">
                    <a class="p-2 text-dark" href="/sendMessage">Отправить сообщение</a><br>
                    <a class="p-2 text-dark" href="/inbox">Входящие</a><br>
                    <a class="p-2 text-dark" href="/sent">Исходящие</a><br>
                    <a class="p-2 text-dark" href="/addNews">Добавить новость</a><br>
                </div>
            </div>



            <div class="col-8">
                <h2>Новости</h2>
                <br>
                <div class="row dark mb-2">
                    <div th:each="el : ${block}" class="col-md-6">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-2 ml-1 mr-1 mt-2 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static alert-primary">
                                <h3 th:text="${el.title}"/>
                                <div th:text="${el.autor_name}" class="mb-1 text-muted"/>
                                <p th:text="${el.annotation}"/>
                                <a th:href="'/details/' + ${el.id}">Детальнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col">
                <div class="bg-danger">
                    <div class="bg-success text-center">
                        <p th:text="'USD ' + ${usd}" class="strong h3"/>
                    </div>

                    <div class="bg-success text-center">
                        <p th:text="'EUR ' + ${eur}" class="strong h3"/>
                    </div>
                </div>
            </div>

    </div>







</main>


<footer class="my-5 pt-5 text-muted text-center text-small">
    <hr>
        <p>DocWork by Shpagin A.S.</p>
        <p>
            <a href="#">Back to top</a>
        </p>
</footer>
</body>
</html>