<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DocWork</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="icon" href="https://1.downloader.disk.yandex.ru/preview/dc8ac5c9345ae1d421aa354458f31be6415a4fa687dab585ae39793f43a9b2b5/inf/5ROBTELSzGCVkES0r3nc0gG8pTswXGhXHfV7smltXKtepGqkD-Ki18aHdxTcr_2X5L36ETbpHQAd72Y-r4o3wA%3D%3D?uid=60646558&filename=docimg.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=60646558&tknv=v2&size=1903x937" type="image">
</head>
<body>
<header  th:insert="blocks/header :: header"></header>

<main class="container">

    <h1>Личный кабинет пользователя</h1>
    <br>

    <div th:insert="blocks/lkMenu :: lkMenu"></div>

    <h3>Архив служебных записок</h3>
    <br>


    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Номер</th>
            <th scope="col">Отправитель</th>
            <th scope="col">Подписант</th>
            <th scope="col">Адресат</th>
            <th scope="col">Служебная записка</th>
            <th scope="col">Комментарий</th>

        </tr>
        </thead>
        <tbody th:each="doc : ${list}">
        <tr>
            <td><a th:href="'/notes/' + ${doc.id}" th:text="${doc.id}"/></td>
            <td><a th:href="'/userDetails/' + ${doc.sender}" th:text="${doc.sender}"/></td>
            <td th:text="${doc.signer}"/>
            <td th:text="${doc.recipient}"/>
            <td><a th:href="${doc.link}" th:text="${doc.link}"/></td>
            <td th:text="${doc.comment}"/>
        </tr>
        </tbody>
    </table>




</main>


<footer class="my-5 pt-5 text-muted text-center text-small">
    <hr>
    <p>DocWork by Shpagin A.S.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
</body>
</html>