<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h4 class="my-0 mr-md-auto font-weight-normal">DocWork</h4>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Новости</a>
            <a class="p-2 text-dark" href="/lk">Личный кабинет</a>
            <a class="p-2 text-dark" href="/registration">Регистрация</a>
            <a class="p-2 text-dark" href="/login">Войти</a>
        </nav>
    </div>
</header>

<main>

    <h1>ТЕСТ</h1>
    <br>


    <input name="city" list="cities" />
    <datalist id="cities">
        <option value="Naples" />
        <option value="London" />
        <option value="Berlin" />
        <option value="New York" />
        <option value="Frattamaggiore" />
    </datalist>

    <br>


    <input name="citys" list="cit" />
    <datalist id="cit">
        <option th:each="el : ${block}" th:value="${el.login}"/>
    </datalist>

    <div th:each="el : ${block}">

    </div>



</main>


<footer>
    <br><br><br><br>

</footer>
</body>
</html>