<div th:fragment="lkMenu">
    <div class="alert alert-info mt-2 border-dark">
        <a class="p-2 text-dark" href="/lk">Мои данные</a>
        <a class="p-2 text-dark" href="/lkUsers">Список пользователей</a>
        <a class="p-2 text-dark" href="/sendMessage">Отправить сообщение</a>
        <a class="p-2 text-dark" href="/inbox">Входящие</a>
        <a class="p-2 text-dark" href="/sent">Исходящие</a>
    </div>
    <div class="alert alert-info mt-2 border-dark">
        <a class="p-2 text-dark" href="/createAssignment">Создать поручение</a>
        <a class="p-2 text-dark" href="/myAssignment">Мои поручения</a>
        <a class="p-2 text-dark" href="/assignmentToMe">Поручения мне</a>
        <a class="p-2 text-dark" href="/assignmentArchive">Архив поручений</a>
    </div>
    <div class="alert alert-info mt-2 border-dark">
        <a class="p-2 text-dark" href="/createSZ">Создать служебную записку</a>
        <a class="p-2 text-dark" href="/noteForApproval">Мне на согласование</a>
        <a class="p-2 text-dark" href="/lastApprove">Мне на утверждение</a>
        <a class="p-2 text-dark" href="/notesToMe">Мне как получателю</a>
        <a class="p-2 text-dark" href="/myNotes">Архив служебных записок</a>
    </div>
    <br>
</div>